body {
  color: #333;
  font-family: Arial, Helvetica,  "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei",  DFKai-SB, sans-serif;
  font-size: 14px;
  background-color: #f2f2f2;  
}

.gap {
  display: block;
  position: relative;
  margin: 30px 0 30px 0;
  clear: both;
  overflow: hidden;
}
.gap:after {
  content: '';
  display: table;
}
.gap-mini {
  margin: 10px 0 10px 0;
}
.gap-small {
  margin: 15px 0 15px 0;
}
.gap-big {
  margin: 60px 0 60px 0;
}
.gap-large {
  margin: 90px 0 90px 0;
}
.gap-top {
  margin-bottom: 0 !important;
}
.gap-bottom {
  margin-top: 0 !important;
}
.gap-border {
  border: 0;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #fff;
}

footer.main {
  background: #1a1a1a;
  border-top: 3px solid #8DBC1E;
}
#main-footer {
	  position: relative;
  }
footer.main h5, footer.main h4, footer.main h3, footer.main h2, footer.main h1 {
  color: #f2f2f2;
}
footer.main p, footer.main a {
  font-size: 13px;
  line-height: 1.4em;
}
footer.main p {
  margin-bottom: 0;
  color: #999;
}
footer.main .footer-top-area {
  padding-top: 30px;
  background: #1f1f1f;
}
footer.main .footer-copyright {
  padding: 10px 0;
  background: #000;
  color: #fff;
}

.nav_ken {
	width:75px;
	position:fixed;
	background-color:#333;
	left:0;
	/*right:0;*/
	
	top:20%;
	z-index:99;
	color:#fff;
	font-size:14px;
	text-align:center;
	
  }

.nav_ken ul {
	margin:0;
	padding:0;
	list-style:none;
	
	}
.nav_ken li {
	padding:24px 1px;
	margin:0px 5px;
	border-bottom:#999 solid 1px;
	-moz-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in
	
	
	}
.nav_ken a { color:#fff; text-decoration:none}
.nav_ken li:hover {
	background-color:#8dbc1e;
	margin:0
	
		}
.nav_ken_wish {
	padding: 0 1px;
	line-height: 62px;
	margin: 0px 5px;
	border-bottom: #999 solid 1px;
  height: 62px; width: 65px; overflow: hidden; 
  -moz-transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
.nav_ken_wish:hover {  
  width: 245px;
  background-color: #8dbc1e;
  padding-right: 10px;
  font-weight:800;
  border-radius:0px 10px 10px 0px;
}
.nav_ken_wish span { display:inline}
.nav_ken_wish ul { overflow:hidden; height:65px;list-style:none;}
.nav_ken_wish li { display:inline; padding:5px}
.nav_ken_wish_One {
  float: right;
  height: 62px;
  width: 65px;
  line-height: 62px;
}
.nav_ken_wish_Two {
  float: left;
  width: 80px;
  height: 62px;
  line-height: 62px;
  padding-right: 5px;
  cursor: pointer;
  background-color: #fff;
}
.nav_ken_wish_Two a {
  color: #000;
  text-decoration: none;
  font-weight: 800;
  text-shadow: 0px 0px 5px rgba(0,0,0,0);
  -moz-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.nav_ken_wish_Two a:hover {
  text-decoration: underline;
  font-weight: 800;
  text-shadow: 3px 3px 5px rgba(0,0,0,0);
  color:#B00000;
}

.line_ken {
	width:75px; height:80px;
	background-color:#333;
	background:url(../img/line.png) no-repeat center right;
	-moz-transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
.line_ken:hover {
	background:url(../img/line.png) no-repeat center left
}

.ken_logo {
	position:absolute;
	top: 0px;
	width: 100%;
  padding: 10px;
  background: #333;
}

.ken_logo_div {
  float: left;
  width:171px;
}

.nav_right {
    width:120px;
    position:fixed;
    background-color:rgba(0,0,0,0);
    /* left:0; */
    right:0;
    top:30%;
    z-index:99;
    color:#fff;
    font-size:14px;
    text-align:center;
  }
  
.nav_right ul {
  list-style: none;
}

.nav_right ul li:first-child {
  position: relative;
  left: -30px;
  width: 150px;
  height: 50px;
  background: #333;
  border-radius: 25px 25px;
  text-align: center;
  margin-bottom: 15px;
  box-shadow: 1px 2px 5px #555;
}

.nav_right_box {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: rgb(141, 188, 30);
  /* background-image: url("/img/fb.png");
  background-size: 80%;
  background-position: center center;
  background-repeat: no-repeat; */
  border-radius: 50%;
  box-shadow: 1px 1px 8px #555;
}

.nav_right_box_1 {
  background-image: url("/img/u400.png");
  background-size: 55%;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}

/* .nav_right_box_1::before {
  content: '';
  width: 50px;
  height: 50px;
  background-image: url('/img/lmarket_qr.png');
  background-size: 50px 50px;
  position: absolute;
  left: -55px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.nav_right ul li:hover .nav_right_box_1::before {
  opacity: 1;
} */

.nav_right_box_2 {
  background-image: url("/img/u456.png");
  background-size: 55%;
  background-position: center center;
  background-repeat: no-repeat;
}

.nav_right_box_3 {
  background-image: url("/img/u452.png");
  background-size: 55%;
  background-position: center center;
  background-repeat: no-repeat;
}

.nav_right_box_4 {
  background-image: url("/img/u460.png");
  background-size: 55%;
  background-position: center center;
  background-repeat: no-repeat;
}

.nav_right_box_5 {
  background-image: url("/img/fb.png");
  background-size: 80%;
  background-position: center center;
  background-repeat: no-repeat;
}

.nav_right_box:hover {
  cursor: pointer;
  background-color: rgb(193, 221, 117);
  transition: background-color 1s;
}

.nav_bottom {
  display: none;
}

.nav_top {
  display: none;
  color: white;
  float: right;
  cursor: pointer;
}

.nav_top_list {
  position: relative;
  top: 55px;
  background: rgb(51, 51, 51);
  color: white;
}

.nav_top_list li a {
  color: white;
  padding: 15px 50px;
  font-size: 1.2em;
}

.nav_top_list li a:hover {
  color: white;
  /* background-color: rgb(59, 128, 59); */
  background-color: #000;
}

.nav>li>a:focus {
  background-color: #333;
}

.nav>li>a:hover {
  /* background-color: rgb(59, 128, 59); */
  background-color: #000;
}

.nav_top_list ul li a {
  text-align: center;
}

.nav_top_list ul, .nav_top_list ul li {
  background-color: #333;
}

.nav_top_list li a span {
  display: inline-block;
  width: 40px;
}

.nav_top_list li {
  padding: 0;
  border-bottom: 1px solid #777;
}

.nav_top_list ul li:last-child {
  border-bottom: none;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  background-color: #999;
}

.dropdown-menu {
  padding: 0;
}
.navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu>li>a {
  padding: 10px 0px;
}

.line_top_nav {
  display: inline-block;
  position: relative;
  left: -15px;
  height: 25px;
  background-image: url(../img/u405.png);
  background-size: 25px 25px;
  background-position: center center;
  background-repeat: no-repeat;
}

.banner1-h1 {
  position: relative;
  text-align: center;
  width: 800px;
  height: 270px;
  background: url('/img/banner11.png') center top no-repeat;
  background-size: contain;
}
/* .banner1-h1-btn1 {
  padding: 0;
  margin: 0;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(100%, 100px);
  color: #fff;
  font-size: 10px;
  width: 80px;
  background: rgba(0,0,0,0.0);
  border: 1px solid rgba(255,255,255,0.5);
}
.banner1-h1-btn2 {
  padding: 0;
  margin: 0;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(260%, 100px);
  color: #fff;
  font-size: 10px;
  width: 80px;
  background: rgba(0,0,0,0.0);
  border: 1px solid rgba(255,255,255,0.5);
} */

.banner1-h2 {
  position: relative;
  text-align: center;
  width: 800px;
  height: 270px;
  background: url('/img/banner22.png') center top no-repeat;
  background-size: contain;
}
/* .banner1-h2-btn1 {
  padding: 5px;
  margin: 0;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(230%, 100px);
  color: #fff;
  font-size: 10px;
  width: 11%;
  background: rgba(251,254,254,0.58);
  border: 1px solid rgba(255,255,255,0.5);
} */

.banner1-h3 {
  position: relative;
  text-align: center;
  height: 260px;
  background: url('/img/banner33.png') center top no-repeat;
  background-size: contain;
}
/* .banner1-h3-btn1 {
  padding: 5px;
  margin: 0;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 10px;
  width: 13%;
  background: rgba(3, 66, 150, 0.6);
  border: 1px solid rgba(255,255,255,0.5);
} */

.banner2-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.banner2-list-item {
  display: inline-block;
  width: 148px;
  height: 188px;
  background-image: url('/img/banner2-bg.png');
  background-size: 148px 188px;
  background-repeat: no-repeat;
  position: relative;
}

.banner2-list-item span {
  font-size: 1.1em;
  position: absolute;
  top: 12px;
  left: 10px;
}

.banner2-list-item span:nth-child(2) {
  display: none;
}
.banner2-list-item img {
  width: 130px;
  position: absolute;
  top: 50px;
  left: 10px;
}

.form-alert {
  /* border: 2px solid red; */
  box-shadow: 0 0 5px red;
}


@media screen and (min-width: 768px) {
  .nav_top_list {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .ken_logo_div {
    float: right;
    width:171px;
  }

  .nav_ken {
    display: none;
  }
  .nav_right {
    display: none;
  }
  .nav_top {
    display: block;
    float: left;
  }
  .nav_bottom {
    padding: 0;
    width: 80%;
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
  }

  .xs-address {
    margin-left: 16.66%;
  }
  
  .banner2-list-item {
    display: inline-block;
    width: 150px;
    height: 80px;
    background-image: url('/img/banner2-bg2.png');
    background-size: 150px 80px;
    position: relative;
  }
  
  .banner2-list-item span {
    font-size: 1.1em;
    position: absolute;
    top: 30px;
    left: 10px;
  }

  .banner2-list-item:nth-child(1) span:nth-child(1) {
    top: 20px;
  }
  .banner2-list-item:nth-child(1) span:nth-child(2) {
    display: inline-block;
    top: 40px;
  }

  .banner2-list-item img {
    display: none;
  }
  
  .banner1-h1 {
    position: relative;
    text-align: center;
    height: 200px;
    background: url('/img/banner11.png') center top no-repeat;
    background-size: contain;
  }
  
  .banner1-h2 {
    position: relative;
    text-align: center;
    height: 200px;
    background: url('/img/banner22.png') center top no-repeat;
    background-size: contain;
  }
  
  .banner1-h3 {
    position: relative;
    text-align: center;
    height: 200px;
    background: url('/img/banner33.png') center top no-repeat;
    background-size: contain;
  }

}

@media screen and (max-width: 480px) {
  .banner1-h1 {
    position: relative;
    text-align: center;
    height: 190px;
    background: url('/img/banner11.png') center top no-repeat;
    background-size: cover;
  }
  
  .banner1-h2 {
    position: relative;
    text-align: center;
    height: 190px;
    background: url('/img/banner22.png') center top no-repeat;
    background-size: cover;
  }
  
  .banner1-h3 {
    position: relative;
    text-align: center;
    height: 190px;
    background: url('/img/banner33.png') center top no-repeat;
    background-size: cover;
  }

}

@media screen and (max-width: 380px) {
  .banner1-h1 {
    position: relative;
    text-align: center;
    height: 150px;
    background: url('/img/banner11.png') center top no-repeat;
    background-size: cover;
  }
  
  .banner1-h2 {
    position: relative;
    text-align: center;
    height: 150px;
    background: url('/img/banner22.png') center top no-repeat;
    background-size: cover;
  }
  
  .banner1-h3 {
    position: relative;
    text-align: center;
    height: 150px;
    background: url('/img/banner33.png') center top no-repeat;
    background-size: cover;
  }

}
