﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1202px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u638_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1202px;
  height:933px;
}
#u638 {
  position:absolute;
  left:0px;
  top:0px;
  width:1202px;
  height:933px;
}
#u639 {
  position:absolute;
  left:2px;
  top:458px;
  width:1198px;
  visibility:hidden;
  word-wrap:break-word;
}
