﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u640 {
  position:fixed;
  right:0px;
  top:50%;
  margin-top:-198px;
  width:249px;
  height:396px;
  overflow:hidden;
}
#u640_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:396px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u640_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u641_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:146px;
  height:61px;
}
#u641 {
  position:absolute;
  left:135px;
  top:1px;
  width:136px;
  height:51px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u642 {
  position:absolute;
  left:2px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u643_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:62px;
  height:62px;
}
#u643 {
  position:absolute;
  left:164px;
  top:176px;
  width:52px;
  height:52px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u643_img.mouseOver {
}
#u643.mouseOver {
}
#u644 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u645_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u645 {
  position:absolute;
  left:180px;
  top:192px;
  width:22px;
  height:22px;
}
#u646 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u647_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:62px;
  height:62px;
}
#u647 {
  position:absolute;
  left:164px;
  top:120px;
  width:52px;
  height:52px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u647_img.mouseOver {
}
#u647.mouseOver {
}
#u648 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u649_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:20px;
}
#u649 {
  position:absolute;
  left:177px;
  top:137px;
  width:26px;
  height:20px;
}
#u650 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u651_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:62px;
  height:62px;
}
#u651 {
  position:absolute;
  left:164px;
  top:236px;
  width:52px;
  height:52px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u651_img.mouseOver {
}
#u651.mouseOver {
}
#u652 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u653_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u653 {
  position:absolute;
  left:175px;
  top:248px;
  width:30px;
  height:30px;
}
#u654 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u655_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:62px;
  height:62px;
}
#u655 {
  position:absolute;
  left:164px;
  top:61px;
  width:52px;
  height:52px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u655_img.mouseOver {
}
#u655.mouseOver {
}
#u656 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u657 {
  position:absolute;
  left:177px;
  top:74px;
  width:26px;
  height:26px;
}
#u658 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u659 {
  position:absolute;
  left:15px;
  top:63px;
  width:149px;
  height:144px;
  overflow:hidden;
  visibility:hidden;
}
#u659_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:144px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u659_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u660_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:155px;
  height:146px;
}
#u660 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:136px;
}
#u661 {
  position:absolute;
  left:2px;
  top:60px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u662_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:126px;
}
#u662 {
  position:absolute;
  left:7px;
  top:5px;
  width:125px;
  height:126px;
}
#u663 {
  position:absolute;
  left:2px;
  top:55px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u664_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u664 {
  position:absolute;
  left:55px;
  top:53px;
  width:30px;
  height:30px;
}
#u665 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:14px;
}
#u666 {
  position:absolute;
  left:57px;
  top:61px;
  width:26px;
  height:14px;
}
#u667 {
  position:absolute;
  left:2px;
  top:-1px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u668_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:62px;
  height:62px;
}
#u668 {
  position:absolute;
  left:164px;
  top:298px;
  width:52px;
  height:52px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u668_img.mouseOver {
}
#u668.mouseOver {
}
#u669 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u670 {
  position:absolute;
  left:174px;
  top:309px;
  width:30px;
  height:30px;
}
#u671 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u672 {
  position:absolute;
  left:0px;
  top:1627px;
}
#u672_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u672_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u673_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:74px;
}
#u673 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:74px;
}
#u674 {
  position:absolute;
  left:2px;
  top:29px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u675_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:69px;
}
#u675 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:69px;
}
#u676 {
  position:absolute;
  left:2px;
  top:26px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u677 {
  position:fixed;
  left:0px;
  top:50%;
  margin-top:-244.5px;
}
#u677_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u677_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:489px;
}
#u678 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:489px;
}
#u679 {
  position:absolute;
  left:2px;
  top:236px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:51px;
}
#u680 {
  position:absolute;
  left:-14px;
  top:209px;
  width:102px;
  height:51px;
  font-size:14px;
  color:#FFFFFF;
}
#u681 {
  position:absolute;
  left:2px;
  top:18px;
  width:98px;
  word-wrap:break-word;
}
#u682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:68px;
}
#u682 {
  position:absolute;
  left:1420px;
  top:0px;
  width:99px;
  height:68px;
}
#u683 {
  position:absolute;
  left:2px;
  top:26px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1016px;
  height:672px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u684 {
  position:absolute;
  left:309px;
  top:460px;
  width:1016px;
  height:672px;
  font-size:14px;
  text-align:left;
}
#u685 {
  position:absolute;
  left:2px;
  top:2px;
  width:1012px;
  word-wrap:break-word;
}
#u686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:124px;
}
#u686 {
  position:absolute;
  left:344px;
  top:892px;
  width:167px;
  height:124px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u687 {
  position:absolute;
  left:2px;
  top:46px;
  width:163px;
  word-wrap:break-word;
}
#u688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:124px;
}
#u688 {
  position:absolute;
  left:525px;
  top:892px;
  width:167px;
  height:124px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u689 {
  position:absolute;
  left:2px;
  top:54px;
  width:163px;
  word-wrap:break-word;
}
#u690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:124px;
}
#u690 {
  position:absolute;
  left:705px;
  top:892px;
  width:167px;
  height:124px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u691 {
  position:absolute;
  left:2px;
  top:54px;
  width:163px;
  word-wrap:break-word;
}
#u692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:124px;
}
#u692 {
  position:absolute;
  left:887px;
  top:892px;
  width:167px;
  height:124px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u693 {
  position:absolute;
  left:2px;
  top:54px;
  width:163px;
  word-wrap:break-word;
}
#u694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:36px;
}
#u694 {
  position:absolute;
  left:349px;
  top:887px;
  width:26px;
  height:36px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u695 {
  position:absolute;
  left:2px;
  top:10px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
}
#u696 {
  position:absolute;
  left:337px;
  top:890px;
  width:30px;
  height:25px;
  font-size:14px;
}
#u697 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:36px;
}
#u698 {
  position:absolute;
  left:529px;
  top:887px;
  width:26px;
  height:36px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u699 {
  position:absolute;
  left:2px;
  top:10px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u700_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
}
#u700 {
  position:absolute;
  left:518px;
  top:888px;
  width:30px;
  height:25px;
  font-size:14px;
}
#u701 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:36px;
}
#u702 {
  position:absolute;
  left:710px;
  top:887px;
  width:26px;
  height:36px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u703 {
  position:absolute;
  left:2px;
  top:10px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
}
#u704 {
  position:absolute;
  left:698px;
  top:888px;
  width:30px;
  height:25px;
  font-size:14px;
}
#u705 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:36px;
}
#u706 {
  position:absolute;
  left:891px;
  top:887px;
  width:26px;
  height:36px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u707 {
  position:absolute;
  left:2px;
  top:10px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
}
#u708 {
  position:absolute;
  left:879px;
  top:888px;
  width:30px;
  height:25px;
  font-size:14px;
}
#u709 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:42px;
}
#u710 {
  position:absolute;
  left:653px;
  top:1162px;
  width:204px;
  height:42px;
  color:#FFFFFF;
}
#u711 {
  position:absolute;
  left:2px;
  top:13px;
  width:200px;
  word-wrap:break-word;
}
#u712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1125px;
  height:196px;
}
#u712 {
  position:absolute;
  left:111px;
  top:311px;
  width:1125px;
  height:196px;
}
#u713 {
  position:absolute;
  left:2px;
  top:90px;
  width:1121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u714_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1575px;
  height:363px;
}
#u714 {
  position:absolute;
  left:0px;
  top:67px;
  width:1574px;
  height:362px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-style:normal;
  color:#666666;
}
#u715 {
  position:absolute;
  left:2px;
  top:108px;
  width:1570px;
  word-wrap:break-word;
}
#u716_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:124px;
}
#u716 {
  position:absolute;
  left:1069px;
  top:894px;
  width:167px;
  height:124px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u717 {
  position:absolute;
  left:2px;
  top:54px;
  width:163px;
  word-wrap:break-word;
}
#u718_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:36px;
}
#u718 {
  position:absolute;
  left:1073px;
  top:888px;
  width:26px;
  height:36px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u719 {
  position:absolute;
  left:2px;
  top:10px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u720_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
}
#u720 {
  position:absolute;
  left:1061px;
  top:889px;
  width:30px;
  height:25px;
  font-size:14px;
}
#u721 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:480px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u640.a {
  position:fixed;
  right:0px;
  top:50%;
  margin-top:-198px;
  width:249px;
  height:396px;
  overflow:hidden;
}
#u641.a {
}
#u641_img.a {
}
#u642.a {
}
#u643.a {
}
#u643_img.a {
}
#u643_img.a.mouseOver {
}
#u643.a.mouseOver {
}
#u644.a {
}
#u645.a {
}
#u645_img.a {
}
#u646.a {
}
#u647.a {
}
#u647_img.a {
}
#u647_img.a.mouseOver {
}
#u647.a.mouseOver {
}
#u648.a {
}
#u649.a {
}
#u649_img.a {
}
#u650.a {
}
#u651.a {
}
#u651_img.a {
}
#u651_img.a.mouseOver {
}
#u651.a.mouseOver {
}
#u652.a {
}
#u653.a {
}
#u653_img.a {
}
#u654.a {
}
#u655.a {
}
#u655_img.a {
}
#u655_img.a.mouseOver {
}
#u655.a.mouseOver {
}
#u656.a {
}
#u657.a {
}
#u657_img.a {
}
#u658.a {
}
#u659.a {
  position:absolute;
  left:15px;
  top:63px;
  width:149px;
  height:144px;
}
#u660.a {
}
#u660_img.a {
}
#u661.a {
}
#u662.a {
}
#u662_img.a {
}
#u663.a {
}
#u664.a {
}
#u664_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u665.a {
}
#u666.a {
}
#u666_img.a {
}
#u667.a {
}
#u659_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u668.a {
}
#u668_img.a {
}
#u668_img.a.mouseOver {
}
#u668.a.mouseOver {
}
#u669.a {
}
#u670.a {
}
#u670_img.a {
}
#u671.a {
}
#u640_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u672.a {
  position:absolute;
  left:0px;
  top:1627px;
}
#u673.a {
}
#u673_img.a {
}
#u674.a {
}
#u672_state0.a {
  position:relative;
  left:0px;
  top:0px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u675.a {
}
#u675_img.a {
}
#u676.a {
}
#u677.a {
  position:fixed;
  left:0px;
  top:50%;
  margin-top:-244.5px;
  width:88px;
  height:489px;
}
#u678.a {
}
#u678_img.a {
}
#u679.a {
}
#u680.a {
}
#u680_img.a {
}
#u681.a {
}
#u677_state0.a {
  position:relative;
  left:0px;
  top:0px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u682.a {
}
#u682_img.a {
}
#u683.a {
}
#u684.a {
  left:10px;
  top:245px;
  width:458px;
  height:724px;
}
#u684_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:458px;
  height:724px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u685.a {
  width:454px;
}
#u686.a {
  left:41px;
  top:711px;
  width:131px;
  height:65px;
}
#u686_img.a {
  width:131px;
  height:65px;
}
#u687.a {
  top:16px;
  width:127px;
}
#u688.a {
  left:184px;
  top:711px;
  width:131px;
  height:65px;
}
#u688_img.a {
  width:131px;
  height:65px;
}
#u689.a {
  top:24px;
  width:127px;
}
#u690.a {
  left:327px;
  top:711px;
  width:131px;
  height:65px;
}
#u690_img.a {
  width:131px;
  height:65px;
}
#u691.a {
  top:24px;
  width:127px;
}
#u692.a {
  left:42px;
  top:785px;
  width:131px;
  height:65px;
}
#u692_img.a {
  width:131px;
  height:65px;
}
#u693.a {
  top:24px;
  width:127px;
}
#u694.a {
  left:52px;
  top:702px;
  height:46px;
}
#u694_img.a {
  height:46px;
}
#u695.a {
  top:15px;
}
#u696.a {
  left:32px;
  top:708px;
  width:38px;
}
#u696_img.a {
  width:38px;
}
#u697.a {
  width:34px;
}
#u698.a {
  left:195px;
  top:702px;
  height:46px;
}
#u698_img.a {
  height:46px;
}
#u699.a {
  top:15px;
}
#u700.a {
  left:175px;
  top:708px;
  width:38px;
}
#u700_img.a {
  width:38px;
}
#u701.a {
  width:34px;
}
#u702.a {
  left:336px;
  top:702px;
  height:46px;
}
#u702_img.a {
  height:46px;
}
#u703.a {
  top:15px;
}
#u704.a {
  left:316px;
  top:708px;
  width:38px;
}
#u704_img.a {
  width:38px;
}
#u705.a {
  width:34px;
}
#u706.a {
  left:50px;
  top:776px;
  height:46px;
}
#u706_img.a {
  height:46px;
}
#u707.a {
  top:15px;
}
#u708.a {
  left:32px;
  top:781px;
  width:38px;
}
#u708_img.a {
  width:38px;
}
#u709.a {
  width:34px;
}
#u710.a {
  left:137px;
  top:986px;
}
#u710_img.a {
}
#u711.a {
}
#u712.a {
  left:0px;
  top:0px;
  width:480px;
  height:84px;
}
#u712_img.a {
  width:480px;
  height:84px;
}
#u713.a {
  top:34px;
  width:476px;
}
#u714.a {
  top:86px;
  width:480px;
  height:152px;
}
#u714_img.a {
  width:481px;
  height:153px;
}
#u715.a {
  top:3px;
  width:476px;
}
#u716.a {
  left:183px;
  top:785px;
  width:131px;
  height:65px;
}
#u716_img.a {
  width:131px;
  height:65px;
}
#u717.a {
  top:24px;
  width:127px;
}
#u718.a {
  left:192px;
  top:774px;
  height:46px;
}
#u718_img.a {
  height:46px;
}
#u719.a {
  top:15px;
}
#u720.a {
  left:173px;
  top:781px;
  width:38px;
}
#u720_img.a {
  width:38px;
}
#u721.a {
  width:34px;
}
